*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

table, tr, td {
    border: 1px solid;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

table{
    background-color: aquamarine;
}

td {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 50px;
  }

.fragata::after{
    content:"🚢";
}

.coordenada-numerica, .coordenada-alfabetica{
    background-color: bisque;
}

.radar tr ,.radar td{
   background-color: blue;
   color: fuchsia;
}

.radar:hover{
    cursor: target;
}

.tableros {
    display: flex;
    flex-wrap: wrap;
}

.seleccionable:hover {
    cursor: pointer;
}

.disparo::after {
    content:"🎯";
}

.hundido::after{
    content : "☠️"
}

.agua::after {
    content: "🌊";
}

.ganador::after {
    content:"👏👏👏 ¡GANASTE! 👏👏👏"
}